<div class="external-container">
  <h1>Books List</h1>
  <div class="book-cards-container">

    <div class="button-container">
      <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
     >Add new book
    </button>
    </div>

    <div class="book-card" *ngFor="let book of displayedBooks ; let i=index">





      <app-book-card [book]="book">

        <div class="button-container">
          <button
        class="add-to-chart"
        *ngIf="isUserAdmin"
        (click)="onUpdatePrice(+book.id,+priceInput.value)"
         >Update {{book.Title}} price
        </button>
        <input class="input-price" type="number" #priceInput>
        </div>

        <div class="button-container">
          <button
        class="add-to-chart"
        *ngIf="isUserAdmin"
        (click)="onDeleteBook(+book.id)"
         >Delete {{book.Title}}
        </button>
        </div>



        <div class="button-container">
          <button
        class="add-to-chart"
        (click)="onAddToChart(book, +book.id)"
        *ngIf="!book.addedToChart && !isUserAdmin"
         >Add {{book.Title}} to chart
        </button>
        </div>

        <div class="message-book-was-add"
        *ngIf="book.addedToChart && !isUserAdmin"
         >{{book.Title}} was added to cart
        </div>
        <!-- <div class="message-book-was-add"
        *ngIf="book.addedToMyBook"
         >{{book.Title}} was added to your books
        </div> -->
      </app-book-card>


    </div>
  </div>
  <div class="pagination">
    <button class="btn-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <div>{{currentPage}} \ {{totalPages}}</div>
    <button class="btn-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>


