<div class="external-container">
  <h1>Books List</h1>

  <div class="search-container">
    <p>Search book</p>
    <input type="text" #keyword>
    <button
    routerLink="/serch"
    (click)="onSerchBook(keyword.value)"
    >Search</button>
  </div>

  <div class="button-container"  *ngIf="isUserAdmin">
    <div class="discount-container">
      <p>Set discount: {{this.discount*100}}%</p>

      <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
    (click)="setDiscount(0.05)"
     >5%
    </button>

    <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
    (click)="setDiscount(0.1)"
     >10%
    </button>

    <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
    (click)="setDiscount(0.15)"
     >15%
    </button>

    <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
    (click)="setDiscount(0.2)"
     >20%
    </button>
    </div>



    <button
  class="add-to-chart"
  *ngIf="isUserAdmin"
  routerLink="/add-book"
   >Add new book
  </button>
  </div>


  <div class="book-cards-container">


    <!-- <div class="button-container">
      <p>Set discount</p>
      <div class="discount-container">
        <button
      class="add-to-chart"
      *ngIf="isUserAdmin"
      routerLink="/add-book"
       >Add new book
      </button>
      </div>



      <button
    class="add-to-chart"
    *ngIf="isUserAdmin"
    routerLink="/add-book"
     >Add new book
    </button>
    </div> -->

    <div class="book-card" *ngFor="let book of displayedBooks ; let i=index">
      <app-book-card [book]="book">

        <div *ngIf="isUserAdmin" class="button-container">
          <button
        class="add-to-chart"
        *ngIf="isUserAdmin"
        (click)="onUpdatePrice(+book.id,+priceInput.value)"
         >Update {{book.Title}} price
        </button>
        <input  class="input-price" type="number" #priceInput>
      </div>

      <div *ngIf="isUserAdmin" class="button-container">

        <button
        class="add-to-chart"
        *ngIf="isUserAdmin"
        (click)="onUpdateTitle(+book.id,titleInput.value)"
         >Update {{book.Title}} title
        </button>
        <input  class="input-price" type="text" #titleInput>
      </div>



        <div class="button-container">
          <button
        class="add-to-chart"
        *ngIf="isUserAdmin"
        (click)="onDeleteBook(+book.id)"
         >Delete {{book.Title}}
        </button>
        </div>



        <div class="button-container">
          <button
        class="add-to-chart"
        (click)="onAddToChart(book, +book.id)"
        *ngIf="!book.addedToChart && !isUserAdmin"
         >Add {{book.Title}} to cart
        </button>
        </div>

        <div class="message-book-was-add"
        *ngIf="book.addedToChart && !isUserAdmin"
         >{{book.Title}} was added to cart
        </div>
        <!-- <div class="message-book-was-add"
        *ngIf="book.addedToMyBook"
         >{{book.Title}} was added to your books
        </div> -->
      </app-book-card>


    </div>
  </div>
  <div class="pagination">
    <button class="btn-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <div>{{currentPage}} \ {{totalPages}}</div>
    <button class="btn-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

</div>


