<div class="external-container">
  <h1>Resalt search for: {{this.keyword}}</h1>




  <div class="book-cards-container">


    <div class="book-card" *ngFor="let book of displayedBooks ; let i=index">
      <app-book-card [book]="book">

        <div class="button-container" *ngIf="isUserLogedIn">
          <button
        class="add-to-chart"
        (click)="onAddToChart(i+(i*(currentPage-1)), +book.id)"
        *ngIf="!book.addedToChart && !isUserAdmin"
         >Add {{book.Title}} to user chart
        </button>
        </div>

        <div class="button-container" *ngIf="!isUserLogedIn">
          <button
        class="add-to-chart"
        (click)="onAddToUserChart(+book.id)"
        *ngIf="!book.addedToUserCart && !isUserAdmin"
         >Add {{book.Title}} to guest chart
        </button>
        </div>

        <div class="message-book-was-add"
        *ngIf="book.addedToChart && !isUserAdmin && isUserLogedIn"
         >{{book.Title}} was added to user cart
        </div>

        <div class="message-book-was-add"
        *ngIf="book.addedToUserCart && !isUserAdmin && !isUserLogedIn"
         >{{book.Title}} was added to guest cart
        </div>

      </app-book-card>



    </div>


  </div>

  <div class="pagination">

    <button class="btn-1" (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <div>{{currentPage}} \ {{totalPages}}</div>
    <button class="btn-1" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
  <div>
    <button class="btn-1" routerLink="/books-list">Return to all result</button>
  </div>

</div>


