<div class="container">
  <h1>BOOKSTORE PROJECT</h1>
  <p *ngIf="isUserLogedIn && !isUserAdmin">Hi User</p>
  <p *ngIf="!isUserLogedIn">Hi Guest </p>
  <p *ngIf="isUserAdmin">Hi Admin</p>


  <!-- <div *ngIf="true" class="external-button-container">

    <button (click)="this.isMyHeroesComponentOpen=true" routerLink="/my-books" class="custom-btn btn-1">
      <span class="button-content">
        go to my books</span>
        </button>
  </div> -->

    <!-- <div *ngIf="isUserLogedIn && !isMyHeroesComponentOpen" class="external-button-container"> -->
      <div *ngIf="!isUserAdmin && isUserLogedIn" class="external-button-container">

      <button (click)="this.isMyHeroesComponentOpen=true" routerLink="/chart" class="custom-btn btn-1">
        <span class="button-content">
          <img class="cart-img" src="../../../../assets/cart.png" alt="">
          {{CountBookCart}}
        </span>
          </button>
    </div>

    <div *ngIf="!isUserAdmin && !isUserLogedIn" class="external-button-container">

      <button (click)="this.isMyHeroesComponentOpen=true" routerLink="/user-cart" class="custom-btn btn-1">
        <span class="button-content">
          <img class="cart-img" src="../../../../assets/cart.png" alt="">
          {{countBookCartUser}}
        </span>
          </button>
    </div>

    <!-- <div *ngIf="isUserLogedIn && isMyHeroesComponentOpen" class="external-button-container"> -->
      <div *ngIf="!isUserAdmin" class="external-button-container">

      <button (click)="this.isMyHeroesComponentOpen=false" routerLink="/books-list" class="custom-btn btn-1">
        <span class="button-content">
          Go to all books
        </span>
      </button>
    </div>

    <!-- <div *ngIf="isUserLogedIn" class="external-button-container"> -->
      <div  *ngIf="isUserLogedIn" class="external-button-container">

      <button (click)="onLogOut()" routerLink="/log-in" class="custom-btn btn-1">
        <span class="button-content">
        Log-out
        </span>
      </button>
    </div>

    <div  *ngIf="!isUserLogedIn" class="external-button-container">
      <button routerLink="/log-in" class="custom-btn btn-1">
        <span class="button-content">
        Log-in
        </span>
      </button>
    </div>
  </div>

