
<div class="title">
  <h2>{{ book.Title }}</h2>

</div>
<div class="external-container-content-hide">


  <div (click)="onShowOrHideContent()">
    <img [src]="'../../../../assets/' + book.Title + '.jpg'" alt="book.Title">
  </div>

  <div [ngClass]="isDisplayNone? 'book-card-content-hide' : 'book-card-content-click' ">
    <!-- <h2>{{ book.Title }}</h2> -->
    <p>ID: {{ book.id }}</p>
    <!-- <p>Publisher: {{ book.publisher }}</p> -->
    <!-- <p>Date Published: {{ book.datePublished }}</p> -->
    <p>Language: {{ book.language}}</p>
    <!-- <p>Bestseller Rating: {{ book.bestsellerRating }}</p> -->
    <p>Price: {{ book.price}}</p>
    <!-- <p>Customer Rating: {{ book.CustomerRating }}</p> -->
    <!-- <p>Number Of Pages: {{book.numberOfPages}}</p> -->
    <!-- <p>Weight: {{book.weight}}</p> -->

    <p>was added to chart: {{book.addedToChart}}</p>
    <p>was added to user cart: {{book.addedToUserCart}}</p>
  </div>
</div>

<ng-content></ng-content>



